target/
.classpath
.project
.settings
*.swp
test-output
.idea
*.iml
.metadata
*.ipr
bin/
**/*maven-eclipse.xml
**/*externalToolBuilders
web/site/.classpath
module/app/eap-common/.classpath
module/core/eap-framework-web/.classpath
module/core/eap-framework/.classpath
module/core/eap-framework/.classpath
