<li class="dropdown user-menu mr5"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<a href="javascript:" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
		<img src="/static/images/user1.jpg" class="user-image">
		<span class="hidden-xs" sec:authentication="name">超级管理员</span>
	</a>
	<ul class="dropdown-menu">
		<li class="mt5">
			<a id="userInfo" href="javascript:" data-href="" class="addTabPage">
			<i class="fa fa-user"></i>个人中心</a>
		</li>
		<li>
			<a id="modifyPassword" href="javascript:" data-href="" class="addTabPage">
			<i class="fa fa-key"></i>修改密码</a>
		</li>
		<li class="divider"></li>
		<li>
			<a href="javascript:$('#logoutForm').submit()" ><i class="fa fa-sign-out"></i>退出登录</a>
		</li>
	</ul>
	<form th:action="@{/logout}" method="post" id="logoutForm">
	</form>
</li>