<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/head}">
</head>
<body class="hold-transition fixed noscroll2 sidebar-mini ">
<div class="wrapper">
	<header class="main-header" th:include="~{/layout/top/topMenu}">
	</header>
	<aside class="main-sidebar" th:include="~{/layout/leftMenu}">
	</aside>
	<div class="content-wrapper">
		<div id="tabpanel"></div>
	</div>
</div>

<a id="scroll-up" href="#" class="btn btn-sm"><i class="fa fa-angle-double-up"></i></a>
<script th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/static/select2/4.0/select2.js}"></script>
<script th:src="@{/static/select2/4.0/i18n/zh_CN.js}"></script>
<script th:src="@{/static/layer/3.1/layer.js}"></script>
<script th:src="@{/static/my97/WdatePicker.js}"></script>
<script th:src="@{/static/wdScrollTab/js/TabPanel.js}"></script>
<script th:src="@{/static/wdScrollTab/js/TabPanel.extend.js}"></script>
<script th:src="@{/static/common/jeesite.js}"></script>
<script th:src="@{/static/common/i18n/jeesite_zh_CN.js}"></script>
<script th:src="@{/static/common/common.js}"></script>
<div class="hide" id="desktopTabPage" data-title="仪表盘" th:data-url="@{/dashboard}"></div>
<div class="hide" id="modifyPasswordTip" data-message=""></div>
<script th:src="@{/static/jquery-toastr/2.0/toastr.min.js}"></script>
<script th:src="@{/static/jquery-plugins/jquery.slimscroll.js}"></script>
<script th:src="@{/static/modules/sys/sysIndex.js}"></script>
</body>	


</html>